.app{
  height: 100vh;
  background: rgb(29, 63, 138);
}

.body{
  background: rgb(29, 63, 138);
}

.tweet{
  height: 300px;
  width: 300px;
  border-radius: 30px;
  background: rgb(29, 63, 138);
  display: flex ;
  box-shadow: rgba(0, 0, 0, 0.705);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  color: aliceblue;
}

h2{
  align-items: center;
}